@media (max-width: 767px) {
    .commonButtonWrap {
        display: none;
    }
}

.commonButton {
    text-align: center;
    width: 80px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 1px;
    box-shadow: 0 0 0 1px rgba(209 213 219), 0 0 0 rgba(0, 0, 0, 0.5);
}

.commonButton:first-child {
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

.commonButton:last-child {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

.commonButton:hover {
    background-color: rgb(249, 250, 251);
}

.customFormButton {
    width: 6.5rem;
}

.customFormClearButton {
    background-color: rgb(25, 118, 210);
}

.cusotmSortButton {
    font-weight: 600;
    color: rgb(0, 0, 0);
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(209 213 219), 0 0 0 rgba(0, 0, 0, 0.5);
    font-size: 0.875rem;
    line-height: 1.5rem;
    appearance: none;
    background-image: url("/chevron-down.svg");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
}

.cusotmSortButton:first-child {
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

.cusotmSortButton:last-child {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}
