.customTable {
    min-width: 100%;
}

.customTh {
    text-align: left;
    padding-top: 1rem;
    padding-right: 0.75rem;
    padding-bottom: 1rem;
    padding-left: 0.75rem;
    font-weight: 500;
}

.customTd {
    text-align: right;
    padding-top: 1rem;
    padding-right: 0.75rem;
    padding-bottom: 1rem;
    padding-left: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(107 114 128);
}

.customTr:nth-of-type(even) {
    background-color: rgb(243 244 246);
}
