
.react-datepicker__input-container input {
    padding-top: 0.375rem !important;
    padding-bottom: 0.375rem !important;
    padding-right: 0.5rem !important;
    padding-left: 3rem !important;
    font-size: 1.125rem !important;
    line-height: 1.75rem;
    background: rgb(243 244 246) !important;
    width: 100%;
}

.react-datepicker-wrapper {
    margin-top: 0.375rem !important;
}

.react-datepicker__view-calendar-icon svg {
    padding: 0 !important;
    top: 50%;
    left: 1.2rem;
    transform: translateY(-50%);
}
